.homepage {
  text-align: center;
  &__text {
    font-size: 2rem;
    color: green;
  }

  &__progress {
    position: relative;
    margin: 10px auto;
    width: 50%;
    background-color: grey;
  }

  &__percentage {
    width: 0%;
    height: 45px;
    background-color: green;
  }

  &__control {
    width: 50%;
    margin: 0 auto;
    select {
      width: 100%;
      margin-bottom: 10px;
    }
    button {
      width: 45%;
      margin: 3px;
    }
    @include desktop {
      select {
        width: 15%;
        margin-bottom: 10px;
      }
      button {
        width: 15%;
        margin: 3px;
      }
    }
  }

  &__button {
    width: 5%;
    margin: 0 10px;
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 30%;
  }

  &__warning {
    background-color: red;
  }
}
